*{
	margin:0;
    padding:0;
    box-sizing:border-box;
 }

.menu{
	 width: 100%;
	 padding: 20px 0;
	 background-color: #DCDCDC;
	 margin-bottom: 40px;
     }
.menu td{
	text-align: center;
	max-width: 5px;


    }
button{
	font-size: 15px;
	padding: 5px 15px;
	border-radius: 30px;
}
.menu button:hover{
	transform: scale(1.1);
	transition: 0.5s;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
	
}
h1{
			text-align: center;
			border: 1px solid;
			border-radius: 5px;
			padding: 8px;
			margin: 30px 0;
			font-family: 'Pacifico', cursive;
		}
.content{  
	width: 70%;
	margin: auto;
}
img{
	width: 100%;
height: auto;
}
img{
	box-shadow:0 0 15px 1px rgba(0, 0, 0, .5) ;
    width: 100%;
    height: auto;
   }
li{
	margin: 15px 0;
}
.menu button:active{
background-color: green;}